#crush-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crush-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-crush-window {
    padding: 10px;
    width: 220px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee8d8;
    box-shadow: 2px 2px #959595;
}


div.main-crush-header > button {

}

div.crush-picture {
    border: 1px white solid;
    width: 100px;
    height: 100px;
    background-color: #959595;
    margin: 5px;
}

span.main-crush-header {
    padding: 2px 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(180deg, #0154e7 , #bacae7);
    color: white;
    border-bottom: 1px #959595 solid;
    border-top: 1px solid white;
    box-shadow: 1px 1px #959595;
    /* box-shadow: 1px 1px #959595; */
}

div#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

img {
    padding-bottom: 2px; 
}

span.buttons {
    display: flex;
    align-content:flex-end;
}

hr.crush-divider {
    background-color: #949494;
    width: 100%;
    border: none;
    height: 1px;
    border-radius: 2px;
}

button {
    margin: 0 2px;
}

button > div {
    border: .5px #bfbbc3 solid;
    padding: 1px 4px;
    width: 99%;
    height: 99%;
}

button > span {
    border: .5px #bfbbc3 solid;
    padding: 1px 4px;
    width: 99%;
    height: 99%;
}

span.crush-name {
    display: flex;
    justify-content: start;
}

button:hover {
    cursor: pointer;
}

#crush-leaderboards {
    display: flex;
    flex-direction: row;
    /* align-items: space-around; */
    justify-content: center;
    margin-bottom: 100px;
}

h3 {
    padding: 20px;
    text-decoration:underline;
}

.crush-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr#crush-divider {
    display: flex;
    margin: 10px 30px;
}

div#crush-leaderboards > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 
show update window
 */

 
.crush-update-window {
    overflow: auto;
    resize: vertical;
    width: 350px;
    background-color: #eee8d8;
    padding: 10px;
    margin-bottom: 12px;
    box-shadow: 2px 2px #959595;
}

span.crush-update-header {
    padding: 5px 10px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(180deg, #0154e7 , #bacae7);
    color: white;
    border-bottom: 1px #959595 solid;
    border-top: 1px solid white;
    box-shadow: 1px 1px #959595;
}

div.crush-scroll-bar {
    background-color: #fbfbf8;
    position: sticky;
    top: 1%;
    z-index: 2;
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

div.crush-updates {
    margin-left: 5px;
}

div.crush-update-body {
    display: flex;
    flex-direction: row;
    height: calc(10px + 100px);
    overflow: auto;
    /* resize: vertical; */
}

.down-arrow {
    /* position: absolute;
    bottom: 0 */
    margin-bottom: 1px;
    background-color: #bdd2fa;
    border: .5px solid white;
}

.up-arrow {
    margin-top: 1px;
    background-color: #bdd2fa;
    border: .5px solid white;
}

.scroll-available {
    border: .5px #c3cdd7 solid;
    background-color: #efefef;
    border-radius: 2px;
    margin: 1px 3px;
    height: 40%;
    width: 20px;
}

.scroll-remaining {
    /* border: .5px white solid; */
    margin: 1px;
    background-color: #bdd2fa;
}
.scroll-remaining:hover {
    cursor: pointer;
}

/* side profile */

#crush-side-profile{
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #eee8d8;
    width: 40%;
    z-index: 10;
    box-shadow: -2px -2px #959595;
}

#crush-side-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}


div#bio-trade-offs {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

div#bio-trade-offs > h5 {
    text-decoration: underline;
}

div.trade-offs {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.trade-offs > span {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2px;
}

div.trade-offs > span:nth-child(odd)  {
    background-color: #eff1fd;
}

div.trade-offs > span:nth-child(even)  {
    background-color: #ffffff;
}

/* zesty css stuff */

.new-here {
    text-shadow: 0 0 10px #e78b9b, 0 0 50px #e78b9b;
    color: white;
}

.crush-scroll-bar > img {
    background-color: #bdd2fa;
    width: 20px;
    height: 20px;
    /* border: .5px solid #979e95; */
    border-radius: 2px;
    margin: 2px;
}

.crush-scroll-bar > img:hover {
   cursor: pointer;
}

.button-wrapper {
    width: 20px;
    height: 20px;
    margin: 1px;
    border: .5px solid #979e95;
    background-color: #bdd2fa;
    border-radius: 2px;
}

.button-wrapper:hover {
    cursor: pointer;
}

#crush-bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#crush-bio > div {
    padding-bottom: 10px;
}

h4 {
    box-shadow:  0px 2px #d4d4cc;
    padding: 4px;
}

/* headstone or whatverrr */

div#dearly-departeds {
    display: flex;
    flex-direction: row;
    overflow: wrap;
    justify-content: center;
}

.crush-headstone{
    background-color: #eee8d8;
    margin: 0px 10px;
    padding: 10px 5px;
}

div#graveyard-crush-tabs {
    display: flex;
    flex-direction: row;
    /* text-decoration: underline; */
    padding: 2px;
}

div#graveyard-crush-tabs > span {
    padding: 5px;
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-right: solid 2px black;
}

div#graveyard-crush-tabs > span:hover {
    cursor: pointer;
    background-color: #eee8d0;
}

#graveyard-crush-body {
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    padding: 10px 5px;
    margin: 5px;
    /* margin-top: 0px; */
}

.graveyard-resurrection-body {
    display: flex;
    flex-direction: column;

}